In [ ]:
row=int(input("enter the values"))
for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

In [3]:
 row=int(input("enter the values"))
for i in range(1,row+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

enter the values 8

1
22
333
4444
55555
666666
7777777
88888888

In [13]:
row=int(input("enter the values"))
for i in range(0,row+1):
    for j in range(1,i+1):
        print("*",end="")
    print('*')

enter the values 5

*
**
***
****
*****
******

In [15]:
row=int(input('enter the values'))
a=row-1
for i in range(0,row):
    for j in range(0,a):
        print(end='-')
    a=a-1
    for k in range(0,i+1):
        print("*",end=" ")
    print()

enter the values 8

-------*
------* *
-----* * *
----* * * *
---* * * * *
--* * * * * *
-* * * * * * *
* * * * * * * *

In [ ]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print('*',end="")
        else:
            print(end=" ")
        print()

In [17]:
l=[0,9,8,7,6,0,-1]
for i in range(len(l)):
    for j in range(len(l)):
        #print(l[i],"<=",l[j])
        if l[i]<=l[j]:
            l[i],l[j]=l[j],l[i]
print(l)
# print(l[0],"minimum")
# print(l[-1],"maximum")

[-1, 0, 0, 6, 7, 8, 9]

In [19]:
for i in range(1,11):
        if i!=0:
            print(i*2)
print(i)

2
4
6
8
10
12
14
16
18
20
10

In [21]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.keys():
    print(i)

name
year

In [23]:
a=int(input("enter the values"))
for i in range(a):
    if i<=3:
        print(i)

enter the values 5

0
1
2
3

In [25]:
k=[1,1,2,3,4,5,5]
a=[]
for i in (k):
    if i not in a:
        a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [27]:
l = [1, 1, 2, 3, 4, 5, 5, 7, 45, 3]
unique_list = []
for item in l:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5, 7, 45]

In [29]:
k=[1,2,3,4,5,6]
n=5
for i,j in enumerate(k):
    if n==j:
        print(i)

4

In [6]:
k=[1,2,3,4,5,6]
n=0
for i in k:
    for j in range(i):
        if i==5:
             n+=1
             print(n)

1
2
3
4
5